html {
  font-size: 14px;
}

a {
    text-decoration:none;
}

.img-thumbnail{
    width:500px;
    height:auto;
    margin: auto;
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}